<p class="blo-restock-note">
  {{ block.settings.text }}
</p>

{%- style -%}
  .blo-restock-note {
    background: rgba(0, 0, 0, 0.04);
    border-radius: 10px;
    padding: 18px 20px;
    margin-top: 30px;
    text-style: italic;
    text-decoration: none !important;
  }
{%- endstyle -%}
