{{ 'blo-sections.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section.blo-collection-pills {
    margin-top: 5px;
  }
  .blo-collection-pills-wrapper {
    display: flex;
    justify-content: center;
  }
  .blo-collection-pills-container {
    display: inline-flex;
    overflow-x: scroll;
    padding: 0 30px;
    justify-content: flex-start;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .blo-collection-pills-container::-webkit-scrollbar {
    display: none;
  }
  @media screen and (min-width: 750px) {
    .blo-collection-pills-container {
      padding: 0 50px;
    }
  }
{%- endstyle -%}

<div class="blo-collection-pills-wrapper">
  <div class="blo-collection-pills-container toggle-wrapper {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
    {%- for block in section.blocks -%}
      <a
        class="blo-collection-pill toggle {% if collection.url == block.settings.linkurl or page.url == block.settings.linkurl %}selected{% endif%}"
        href="{{block.settings.linkurl}}"
      >
        {{ block.settings.linktext }}
      </a>
    {%- endfor -%}
  </div>
</div>

{% schema %}
{
  "name": "BLO: Page Pills",
  "class": "section blo-collection-pills",
  "blocks": [
    {
      "type": "link",
      "name": "Link",
      "settings": [
        {
          "id": "linkurl",
          "type": "url",
          "label": "URL link"
        },
        {
          "id": "linktext",
          "type": "text",
          "label": "Link text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "BLO: Page Pills"
    }
  ]
}
{% endschema %}
