<div class="blo-scrolling-benefits-container">
   {%- for block in section.blocks -%}
    <div class="blo-scrolling-benefits-block">
        {% if block.settings.image %}
            {{  
            block.settings.image
            | image_url: width: 40
            | image_tag:
                loading: 'lazy',
                class: 'blo-banner-image'
            }}
        {% endif %}
        {{ block.settings.text }}
    </div>
   {%- endfor -%}

   {%- for block in section.blocks -%}
    <div class="blo-scrolling-benefits-block">
        {% if block.settings.image %}
            {{  
            block.settings.image
            | image_url: width: 40
            | image_tag:
                loading: 'lazy',
                class: 'blo-banner-image'
            }}
        {% endif %}
        {{ block.settings.text }}
    </div>
   {%- endfor -%}
<div>





{%- style -%}
.blo-scrolling-benefits {
    padding: 30px 0;
    display: flex;
    flex-direction: row;
    gap: 20px;
    background: var(--blo-pine, #000);
    overflow: hidden;
}
.blo-scrolling-benefits-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}
.blo-scrolling-benefits-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    color: var(--blo-ivory, #fff);
    text-wrap: nowrap;
}
.blo-scrolling-benefits-block img {
    max-width: 22px;
    max-height: 22px;
    height: auto;
    width: auto;
}


.blo-scrolling-benefits-container {
  animation-name: example;
  animation-duration: 20s;
}

@keyframes example {
  from {margin-left: 0}
  to {margin-left: -100%}
}

{%- endstyle -%}





{% schema %}
{
  "name": "BLO: Scrolling Benefits",
  "tag": "section",
  "class": "section blo-scrolling-benefits",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
  ],
  "blocks": [
    {
      "type": "benefit",
      "name": "Benefit",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "text",
          "default": "Add a benefit!",
          "label": "Text"
        },
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "BLO Scrolling Benefits",
      "blocks": [
        {
          "type": "benefit"
        }
      ]
    }
  ]
}
{% endschema %}