{% render 'blo-edge-texture', pinDirection: 'top' %}

<div class="page-width">???</div>

{% stylesheet %}
  .blo-footer-decoration {
  }
{% endstylesheet %}

{% schema %}
{
  "name": "BLO: Footer Decoration",
  "tag": "section",
  "class": "section blo-footer-decoration blo-edge-texture-wrapper",
  "enabled_on": {
    "templates": ["*"],
    "groups": ["footer"]
  },
  "presets": [
    {
      "name": "BLO: Footer Decoration"
    }
  ]
}
{% endschema %}
