<div> HELLO WORLD</div>


{% schema %}
  {
    "name": "BLO Banner",
    "settings": [
      
    ],
    "presets": [
      {
      "name": "Welcome section Test",
      "category": "ADVANCED LAYOUT"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}