{{ 'component-accordion.css' | asset_url | stylesheet_tag }}
{{ 'blo-sections.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section.blo-collection-pills {
    margin-top: 5px;
  }
  .blo-collection-pills-wrapper {
    display: flex;
    justify-content: center;
  }
  .blo-collection-pills-container {
    display: inline-flex;
    overflow-x: scroll;
    padding: 0 30px;
    justify-content: flex-start;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .blo-collection-pills-container::-webkit-scrollbar {
    display: none;
  }
{%- endstyle -%}

<div class="blo-collection-pills-wrapper">
  <div class="blo-collection-pills-container toggle-wrapper">
    {%- for pill in section.settings.collection_list -%}
      <a
        class="blo-collection-pill toggle {% if collection.url == pill.url %}selected{% endif%}"
        href="{{pill.url}}"
      >
        {{ pill.title }}
      </a>
    {%- endfor -%}
  </div>
</div>

{% schema %}
{
  "name": "BLO: Collection Pills",
  "class": "section blo-collection-pills",
  "settings": [
    {
      "type": "collection_list",
      "id": "collection_list",
      "label": "Collections"
    }
  ],
  "presets": [
    {
      "name": "BLO: Collection Pills"
    }
  ]
}
{% endschema %}
