<div class="page-width">
  <h2
    class="blo-banner-title inline-richtext {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}"
    {{ block.shopify_attributes }}
  >
    {{ section.settings.title }}
  </h2>

  <input type="radio" id="1" name="toggle-collections" checked>
  <input type="radio" id="2" name="toggle-collections">

  <div class="toggle-wrapper">
    <label class="toggle" for="1">Testing</label>
    <label class="toggle" for="2">Testing</label>
  </div>

  <div class="toggle-collections-container">
    <div class="toggle-collections-row">
      <a class="toggle-collections-row-item" href="#">
        <img
          srcset="
                                                                                                                                                            //bravelittleones.com/cdn/shop/collections/Zip_Romper_2x_f2fa177b-5259-498e-9edc-48a9d2f8cf12.png?v=1686579400&amp;width=165 165w,//bravelittleones.com/cdn/shop/collections/Zip_Romper_2x_f2fa177b-5259-498e-9edc-48a9d2f8cf12.png?v=1686579400&amp;width=330 330w,//bravelittleones.com/cdn/shop/collections/Zip_Romper_2x_f2fa177b-5259-498e-9edc-48a9d2f8cf12.png?v=1686579400&amp;width=535 535w,//bravelittleones.com/cdn/shop/collections/Zip_Romper_2x_f2fa177b-5259-498e-9edc-48a9d2f8cf12.png?v=1686579400&amp;width=750 750w,//bravelittleones.com/cdn/shop/collections/Zip_Romper_2x_f2fa177b-5259-498e-9edc-48a9d2f8cf12.png?v=1686579400 800w
          "
          src="//bravelittleones.com/cdn/shop/collections/Zip_Romper_2x_f2fa177b-5259-498e-9edc-48a9d2f8cf12.png?v=1686579400&amp;width=1500"
          sizes="
            (min-width: 1400px) 433px,
            (min-width: 750px) calc((100vw - 10rem) / 2),
            calc(100vw - 3rem)
          "
          alt=""
          height="801"
          width="800"
          loading="lazy"
          class="motion-reduce"
        >
        <h6>1 Testing</h6>
      </a>

      <a class="toggle-collections-row-item" href="#">
        <img
          srcset="
                                                                                                                                                              //bravelittleones.com/cdn/shop/collections/Zip_Romper_2x_f2fa177b-5259-498e-9edc-48a9d2f8cf12.png?v=1686579400&amp;width=165 165w,//bravelittleones.com/cdn/shop/collections/Zip_Romper_2x_f2fa177b-5259-498e-9edc-48a9d2f8cf12.png?v=1686579400&amp;width=330 330w,//bravelittleones.com/cdn/shop/collections/Zip_Romper_2x_f2fa177b-5259-498e-9edc-48a9d2f8cf12.png?v=1686579400&amp;width=535 535w,//bravelittleones.com/cdn/shop/collections/Zip_Romper_2x_f2fa177b-5259-498e-9edc-48a9d2f8cf12.png?v=1686579400&amp;width=750 750w,//bravelittleones.com/cdn/shop/collections/Zip_Romper_2x_f2fa177b-5259-498e-9edc-48a9d2f8cf12.png?v=1686579400 800w
          "
          src="//bravelittleones.com/cdn/shop/collections/Zip_Romper_2x_f2fa177b-5259-498e-9edc-48a9d2f8cf12.png?v=1686579400&amp;width=1500"
          sizes="
            (min-width: 1400px) 433px,
            (min-width: 750px) calc((100vw - 10rem) / 2),
            calc(100vw - 3rem)
          "
          alt=""
          height="801"
          width="800"
          loading="lazy"
          class="motion-reduce"
        >
        <h6>Testing</h6>
      </a>
      <a class="toggle-collections-row-item" href="#">
        <img
          srcset="
                                                                                                                                                              //bravelittleones.com/cdn/shop/collections/Zip_Romper_2x_f2fa177b-5259-498e-9edc-48a9d2f8cf12.png?v=1686579400&amp;width=165 165w,//bravelittleones.com/cdn/shop/collections/Zip_Romper_2x_f2fa177b-5259-498e-9edc-48a9d2f8cf12.png?v=1686579400&amp;width=330 330w,//bravelittleones.com/cdn/shop/collections/Zip_Romper_2x_f2fa177b-5259-498e-9edc-48a9d2f8cf12.png?v=1686579400&amp;width=535 535w,//bravelittleones.com/cdn/shop/collections/Zip_Romper_2x_f2fa177b-5259-498e-9edc-48a9d2f8cf12.png?v=1686579400&amp;width=750 750w,//bravelittleones.com/cdn/shop/collections/Zip_Romper_2x_f2fa177b-5259-498e-9edc-48a9d2f8cf12.png?v=1686579400 800w
          "
          src="//bravelittleones.com/cdn/shop/collections/Zip_Romper_2x_f2fa177b-5259-498e-9edc-48a9d2f8cf12.png?v=1686579400&amp;width=1500"
          sizes="
            (min-width: 1400px) 433px,
            (min-width: 750px) calc((100vw - 10rem) / 2),
            calc(100vw - 3rem)
          "
          alt=""
          height="801"
          width="800"
          loading="lazy"
          class="motion-reduce"
        >
        <h6>Testing</h6>
      </a>
      <a class="toggle-collections-row-item" href="#">
        <img
          srcset="
                                                                                                                                                              //bravelittleones.com/cdn/shop/collections/Zip_Romper_2x_f2fa177b-5259-498e-9edc-48a9d2f8cf12.png?v=1686579400&amp;width=165 165w,//bravelittleones.com/cdn/shop/collections/Zip_Romper_2x_f2fa177b-5259-498e-9edc-48a9d2f8cf12.png?v=1686579400&amp;width=330 330w,//bravelittleones.com/cdn/shop/collections/Zip_Romper_2x_f2fa177b-5259-498e-9edc-48a9d2f8cf12.png?v=1686579400&amp;width=535 535w,//bravelittleones.com/cdn/shop/collections/Zip_Romper_2x_f2fa177b-5259-498e-9edc-48a9d2f8cf12.png?v=1686579400&amp;width=750 750w,//bravelittleones.com/cdn/shop/collections/Zip_Romper_2x_f2fa177b-5259-498e-9edc-48a9d2f8cf12.png?v=1686579400 800w
          "
          src="//bravelittleones.com/cdn/shop/collections/Zip_Romper_2x_f2fa177b-5259-498e-9edc-48a9d2f8cf12.png?v=1686579400&amp;width=1500"
          sizes="
            (min-width: 1400px) 433px,
            (min-width: 750px) calc((100vw - 10rem) / 2),
            calc(100vw - 3rem)
          "
          alt=""
          height="801"
          width="800"
          loading="lazy"
          class="motion-reduce"
        >
        <h6>Testing</h6>
      </a>
      <a class="toggle-collections-row-item" href="#">
        <img
          srcset="
                                                                                                                                                              //bravelittleones.com/cdn/shop/collections/Zip_Romper_2x_f2fa177b-5259-498e-9edc-48a9d2f8cf12.png?v=1686579400&amp;width=165 165w,//bravelittleones.com/cdn/shop/collections/Zip_Romper_2x_f2fa177b-5259-498e-9edc-48a9d2f8cf12.png?v=1686579400&amp;width=330 330w,//bravelittleones.com/cdn/shop/collections/Zip_Romper_2x_f2fa177b-5259-498e-9edc-48a9d2f8cf12.png?v=1686579400&amp;width=535 535w,//bravelittleones.com/cdn/shop/collections/Zip_Romper_2x_f2fa177b-5259-498e-9edc-48a9d2f8cf12.png?v=1686579400&amp;width=750 750w,//bravelittleones.com/cdn/shop/collections/Zip_Romper_2x_f2fa177b-5259-498e-9edc-48a9d2f8cf12.png?v=1686579400 800w
          "
          src="//bravelittleones.com/cdn/shop/collections/Zip_Romper_2x_f2fa177b-5259-498e-9edc-48a9d2f8cf12.png?v=1686579400&amp;width=1500"
          sizes="
            (min-width: 1400px) 433px,
            (min-width: 750px) calc((100vw - 10rem) / 2),
            calc(100vw - 3rem)
          "
          alt=""
          height="801"
          width="800"
          loading="lazy"
          class="motion-reduce"
        >
        <h6>Testing</h6>
      </a>
      <a class="toggle-collections-row-item" href="#">
        <img
          srcset="
                                                                                                                                                              //bravelittleones.com/cdn/shop/collections/Zip_Romper_2x_f2fa177b-5259-498e-9edc-48a9d2f8cf12.png?v=1686579400&amp;width=165 165w,//bravelittleones.com/cdn/shop/collections/Zip_Romper_2x_f2fa177b-5259-498e-9edc-48a9d2f8cf12.png?v=1686579400&amp;width=330 330w,//bravelittleones.com/cdn/shop/collections/Zip_Romper_2x_f2fa177b-5259-498e-9edc-48a9d2f8cf12.png?v=1686579400&amp;width=535 535w,//bravelittleones.com/cdn/shop/collections/Zip_Romper_2x_f2fa177b-5259-498e-9edc-48a9d2f8cf12.png?v=1686579400&amp;width=750 750w,//bravelittleones.com/cdn/shop/collections/Zip_Romper_2x_f2fa177b-5259-498e-9edc-48a9d2f8cf12.png?v=1686579400 800w
          "
          src="//bravelittleones.com/cdn/shop/collections/Zip_Romper_2x_f2fa177b-5259-498e-9edc-48a9d2f8cf12.png?v=1686579400&amp;width=1500"
          sizes="
            (min-width: 1400px) 433px,
            (min-width: 750px) calc((100vw - 10rem) / 2),
            calc(100vw - 3rem)
          "
          alt=""
          height="801"
          width="800"
          loading="lazy"
          class="motion-reduce"
        >
        <h6>Testing</h6>
      </a>
    </div>

    <div class="toggle-collections-row">
      <a class="toggle-collections-row-item" href="#">
        <img
          srcset="
                                                                                                                                                  //bravelittleones.com/cdn/shop/collections/Zip_Romper_2x_f2fa177b-5259-498e-9edc-48a9d2f8cf12.png?v=1686579400&amp;width=165 165w,//bravelittleones.com/cdn/shop/collections/Zip_Romper_2x_f2fa177b-5259-498e-9edc-48a9d2f8cf12.png?v=1686579400&amp;width=330 330w,//bravelittleones.com/cdn/shop/collections/Zip_Romper_2x_f2fa177b-5259-498e-9edc-48a9d2f8cf12.png?v=1686579400&amp;width=535 535w,//bravelittleones.com/cdn/shop/collections/Zip_Romper_2x_f2fa177b-5259-498e-9edc-48a9d2f8cf12.png?v=1686579400&amp;width=750 750w,//bravelittleones.com/cdn/shop/collections/Zip_Romper_2x_f2fa177b-5259-498e-9edc-48a9d2f8cf12.png?v=1686579400 800w
          "
          src="//bravelittleones.com/cdn/shop/collections/Zip_Romper_2x_f2fa177b-5259-498e-9edc-48a9d2f8cf12.png?v=1686579400&amp;width=1500"
          sizes="
            (min-width: 1400px) 433px,
            (min-width: 750px) calc((100vw - 10rem) / 2),
            calc(100vw - 3rem)
          "
          alt=""
          height="801"
          width="800"
          loading="lazy"
          class="motion-reduce"
        >
        <h6>2 Testing</h6>
      </a>

      <a class="toggle-collections-row-item" href="#">
        <img
          srcset="
                                                                                                                                                  //bravelittleones.com/cdn/shop/collections/Zip_Romper_2x_f2fa177b-5259-498e-9edc-48a9d2f8cf12.png?v=1686579400&amp;width=165 165w,//bravelittleones.com/cdn/shop/collections/Zip_Romper_2x_f2fa177b-5259-498e-9edc-48a9d2f8cf12.png?v=1686579400&amp;width=330 330w,//bravelittleones.com/cdn/shop/collections/Zip_Romper_2x_f2fa177b-5259-498e-9edc-48a9d2f8cf12.png?v=1686579400&amp;width=535 535w,//bravelittleones.com/cdn/shop/collections/Zip_Romper_2x_f2fa177b-5259-498e-9edc-48a9d2f8cf12.png?v=1686579400&amp;width=750 750w,//bravelittleones.com/cdn/shop/collections/Zip_Romper_2x_f2fa177b-5259-498e-9edc-48a9d2f8cf12.png?v=1686579400 800w
          "
          src="//bravelittleones.com/cdn/shop/collections/Zip_Romper_2x_f2fa177b-5259-498e-9edc-48a9d2f8cf12.png?v=1686579400&amp;width=1500"
          sizes="
            (min-width: 1400px) 433px,
            (min-width: 750px) calc((100vw - 10rem) / 2),
            calc(100vw - 3rem)
          "
          alt=""
          height="801"
          width="800"
          loading="lazy"
          class="motion-reduce"
        >
        <h6>Testing</h6>
      </a>
    </div>
  </div>
</div>

{% style %}
  .toggle-collections h2 {
    text-align: center;
    margin-bottom: 30px;
  }

  .toggle-collections input[type='radio'] {
    display: none;
  }
  .toggle-collections input:nth-of-type(1):checked ~ .toggle-wrapper .toggle:nth-of-type(1),
  .toggle-collections input:nth-of-type(2):checked ~ .toggle-wrapper .toggle:nth-of-type(2),
  .toggle-collections input:nth-of-type(3):checked ~ .toggle-wrapper .toggle:nth-of-type(3),
  .toggle-collections input:nth-of-type(4):checked ~ .toggle-wrapper .toggle:nth-of-type(4),
  .toggle-collections input:nth-of-type(5):checked ~ .toggle-wrapper .toggle:nth-of-type(5) {
    background: var(--greyscale-black, #161616);
    color: var(--tan-light, #efe8de);
  }

  .toggle-collections-row {
    display: none;
  }
  .toggle-collections
    input:nth-of-type(1):checked
    ~ .toggle-collections-container
    .toggle-collections-row:nth-of-type(1),
  .toggle-collections
    input:nth-of-type(2):checked
    ~ .toggle-collections-container
    .toggle-collections-row:nth-of-type(2),
  .toggle-collections
    input:nth-of-type(3):checked
    ~ .toggle-collections-container
    .toggle-collections-row:nth-of-type(3),
  .toggle-collections
    input:nth-of-type(4):checked
    ~ .toggle-collections-container
    .toggle-collections-row:nth-of-type(4),
  .toggle-collections
    input:nth-of-type(5):checked
    ~ .toggle-collections-container
    .toggle-collections-row:nth-of-type(5) {
    display: flex;
  }

  .toggle-collections .toggle-wrapper {
    margin-bottom: 50px;
  }

  .toggle-collections-row {
    flex-direction: row;
    gap: 20px;
    overflow-y: scroll;
  }
  .toggle-collections-row-item {
    background: var(--tan-Medium);
    border-radius: var(--blo-corner-radius);
    text-decoration: none;
    padding-top: 20px;
  }
  .toggle-collections-row-item img {
    width: 250px;
    height: auto;
  }
  .toggle-collections-row-item h6 {
    display: block;
    padding: 10px 30px 30px 30px;
    text-align: center;
    margin: 0;
  }

  @media screen and (max-width: 750px) {
    .toggle-collections h2 {
      text-align: left;
    }
    .toggle-collections .toggle-wrapper {
      margin-bottom: 30px;
      justify-content: flex-start;
    }
  }
{% endstyle %}

{% schema %}
{
  "name": "BLO: Toggle Collections",
  "tag": "section",
  "class": "section toggle-collections",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Section Title",
      "default": "We got what you’re looking for."
    }
  ],
  "blocks": [
    {
      "type": "collection_group",
      "name": "Collection Group",
      "limit": 5,
      "settings": [
        {
          "type": "text",
          "id": "collection_group_title",
          "label": "Collection Group Title"
        },
        {
          "type": "collection_list",
          "id": "collection_list",
          "label": "Collections",
          "limit": 8
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "BLO: Toggle Collections"
    }
  ]
}
{% endschema %}
