{{ 'section-blo-collection-list.css' | asset_url | stylesheet_tag }}

<div class="page-width">
  <h2
    class="blo-banner-title inline-richtext {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}"
    {{ block.shopify_attributes }}
  >
    {{ section.settings.title }}
  </h2>

  <input type="radio" id="1" name="blo-collection-list" checked>
  <input type="radio" id="2" name="blo-collection-list">

  <div class="toggle-wrapper">
    <label class="toggle" for="1">Testing</label>
    <label class="toggle" for="2">Testing</label>
  </div>

  <div class="blo-collection-list-container">
    <div class="blo-collection-list-row">
      <a class="blo-collection-list-row-item" href="#">
        <img
          srcset="
                                    //bravelittleones.com/cdn/shop/collections/Zip_Romper_2x_f2fa177b-5259-498e-9edc-48a9d2f8cf12.png?v=1686579400&amp;width=165 165w,//bravelittleones.com/cdn/shop/collections/Zip_Romper_2x_f2fa177b-5259-498e-9edc-48a9d2f8cf12.png?v=1686579400&amp;width=330 330w,//bravelittleones.com/cdn/shop/collections/Zip_Romper_2x_f2fa177b-5259-498e-9edc-48a9d2f8cf12.png?v=1686579400&amp;width=535 535w,//bravelittleones.com/cdn/shop/collections/Zip_Romper_2x_f2fa177b-5259-498e-9edc-48a9d2f8cf12.png?v=1686579400&amp;width=750 750w,//bravelittleones.com/cdn/shop/collections/Zip_Romper_2x_f2fa177b-5259-498e-9edc-48a9d2f8cf12.png?v=1686579400 800w
          "
          src="//bravelittleones.com/cdn/shop/collections/Zip_Romper_2x_f2fa177b-5259-498e-9edc-48a9d2f8cf12.png?v=1686579400&amp;width=1500"
          sizes="
            (min-width: 1400px) 433px,
            (min-width: 750px) calc((100vw - 10rem) / 2),
            calc(100vw - 3rem)
          "
          alt=""
          height="801"
          width="800"
          loading="lazy"
          class="motion-reduce"
        >
        <h6>1 Testing</h6>
      </a>

      <a class="blo-collection-list-row-item" href="#">
        <img
          srcset="
                                      //bravelittleones.com/cdn/shop/collections/Zip_Romper_2x_f2fa177b-5259-498e-9edc-48a9d2f8cf12.png?v=1686579400&amp;width=165 165w,//bravelittleones.com/cdn/shop/collections/Zip_Romper_2x_f2fa177b-5259-498e-9edc-48a9d2f8cf12.png?v=1686579400&amp;width=330 330w,//bravelittleones.com/cdn/shop/collections/Zip_Romper_2x_f2fa177b-5259-498e-9edc-48a9d2f8cf12.png?v=1686579400&amp;width=535 535w,//bravelittleones.com/cdn/shop/collections/Zip_Romper_2x_f2fa177b-5259-498e-9edc-48a9d2f8cf12.png?v=1686579400&amp;width=750 750w,//bravelittleones.com/cdn/shop/collections/Zip_Romper_2x_f2fa177b-5259-498e-9edc-48a9d2f8cf12.png?v=1686579400 800w
          "
          src="//bravelittleones.com/cdn/shop/collections/Zip_Romper_2x_f2fa177b-5259-498e-9edc-48a9d2f8cf12.png?v=1686579400&amp;width=1500"
          sizes="
            (min-width: 1400px) 433px,
            (min-width: 750px) calc((100vw - 10rem) / 2),
            calc(100vw - 3rem)
          "
          alt=""
          height="801"
          width="800"
          loading="lazy"
          class="motion-reduce"
        >
        <h6>Testing</h6>
      </a>
      <a class="blo-collection-list-row-item" href="#">
        <img
          srcset="
                                      //bravelittleones.com/cdn/shop/collections/Zip_Romper_2x_f2fa177b-5259-498e-9edc-48a9d2f8cf12.png?v=1686579400&amp;width=165 165w,//bravelittleones.com/cdn/shop/collections/Zip_Romper_2x_f2fa177b-5259-498e-9edc-48a9d2f8cf12.png?v=1686579400&amp;width=330 330w,//bravelittleones.com/cdn/shop/collections/Zip_Romper_2x_f2fa177b-5259-498e-9edc-48a9d2f8cf12.png?v=1686579400&amp;width=535 535w,//bravelittleones.com/cdn/shop/collections/Zip_Romper_2x_f2fa177b-5259-498e-9edc-48a9d2f8cf12.png?v=1686579400&amp;width=750 750w,//bravelittleones.com/cdn/shop/collections/Zip_Romper_2x_f2fa177b-5259-498e-9edc-48a9d2f8cf12.png?v=1686579400 800w
          "
          src="//bravelittleones.com/cdn/shop/collections/Zip_Romper_2x_f2fa177b-5259-498e-9edc-48a9d2f8cf12.png?v=1686579400&amp;width=1500"
          sizes="
            (min-width: 1400px) 433px,
            (min-width: 750px) calc((100vw - 10rem) / 2),
            calc(100vw - 3rem)
          "
          alt=""
          height="801"
          width="800"
          loading="lazy"
          class="motion-reduce"
        >
        <h6>Testing</h6>
      </a>
      <a class="blo-collection-list-row-item" href="#">
        <img
          srcset="
                                      //bravelittleones.com/cdn/shop/collections/Zip_Romper_2x_f2fa177b-5259-498e-9edc-48a9d2f8cf12.png?v=1686579400&amp;width=165 165w,//bravelittleones.com/cdn/shop/collections/Zip_Romper_2x_f2fa177b-5259-498e-9edc-48a9d2f8cf12.png?v=1686579400&amp;width=330 330w,//bravelittleones.com/cdn/shop/collections/Zip_Romper_2x_f2fa177b-5259-498e-9edc-48a9d2f8cf12.png?v=1686579400&amp;width=535 535w,//bravelittleones.com/cdn/shop/collections/Zip_Romper_2x_f2fa177b-5259-498e-9edc-48a9d2f8cf12.png?v=1686579400&amp;width=750 750w,//bravelittleones.com/cdn/shop/collections/Zip_Romper_2x_f2fa177b-5259-498e-9edc-48a9d2f8cf12.png?v=1686579400 800w
          "
          src="//bravelittleones.com/cdn/shop/collections/Zip_Romper_2x_f2fa177b-5259-498e-9edc-48a9d2f8cf12.png?v=1686579400&amp;width=1500"
          sizes="
            (min-width: 1400px) 433px,
            (min-width: 750px) calc((100vw - 10rem) / 2),
            calc(100vw - 3rem)
          "
          alt=""
          height="801"
          width="800"
          loading="lazy"
          class="motion-reduce"
        >
        <h6>Testing</h6>
      </a>
      <a class="blo-collection-list-row-item" href="#">
        <img
          srcset="
                                      //bravelittleones.com/cdn/shop/collections/Zip_Romper_2x_f2fa177b-5259-498e-9edc-48a9d2f8cf12.png?v=1686579400&amp;width=165 165w,//bravelittleones.com/cdn/shop/collections/Zip_Romper_2x_f2fa177b-5259-498e-9edc-48a9d2f8cf12.png?v=1686579400&amp;width=330 330w,//bravelittleones.com/cdn/shop/collections/Zip_Romper_2x_f2fa177b-5259-498e-9edc-48a9d2f8cf12.png?v=1686579400&amp;width=535 535w,//bravelittleones.com/cdn/shop/collections/Zip_Romper_2x_f2fa177b-5259-498e-9edc-48a9d2f8cf12.png?v=1686579400&amp;width=750 750w,//bravelittleones.com/cdn/shop/collections/Zip_Romper_2x_f2fa177b-5259-498e-9edc-48a9d2f8cf12.png?v=1686579400 800w
          "
          src="//bravelittleones.com/cdn/shop/collections/Zip_Romper_2x_f2fa177b-5259-498e-9edc-48a9d2f8cf12.png?v=1686579400&amp;width=1500"
          sizes="
            (min-width: 1400px) 433px,
            (min-width: 750px) calc((100vw - 10rem) / 2),
            calc(100vw - 3rem)
          "
          alt=""
          height="801"
          width="800"
          loading="lazy"
          class="motion-reduce"
        >
        <h6>Testing</h6>
      </a>
      <a class="blo-collection-list-row-item" href="#">
        <img
          srcset="
                                      //bravelittleones.com/cdn/shop/collections/Zip_Romper_2x_f2fa177b-5259-498e-9edc-48a9d2f8cf12.png?v=1686579400&amp;width=165 165w,//bravelittleones.com/cdn/shop/collections/Zip_Romper_2x_f2fa177b-5259-498e-9edc-48a9d2f8cf12.png?v=1686579400&amp;width=330 330w,//bravelittleones.com/cdn/shop/collections/Zip_Romper_2x_f2fa177b-5259-498e-9edc-48a9d2f8cf12.png?v=1686579400&amp;width=535 535w,//bravelittleones.com/cdn/shop/collections/Zip_Romper_2x_f2fa177b-5259-498e-9edc-48a9d2f8cf12.png?v=1686579400&amp;width=750 750w,//bravelittleones.com/cdn/shop/collections/Zip_Romper_2x_f2fa177b-5259-498e-9edc-48a9d2f8cf12.png?v=1686579400 800w
          "
          src="//bravelittleones.com/cdn/shop/collections/Zip_Romper_2x_f2fa177b-5259-498e-9edc-48a9d2f8cf12.png?v=1686579400&amp;width=1500"
          sizes="
            (min-width: 1400px) 433px,
            (min-width: 750px) calc((100vw - 10rem) / 2),
            calc(100vw - 3rem)
          "
          alt=""
          height="801"
          width="800"
          loading="lazy"
          class="motion-reduce"
        >
        <h6>Testing</h6>
      </a>
    </div>

    <div class="blo-collection-list-row">
      <a class="blo-collection-list-row-item" href="#">
        <img
          srcset="
                          //bravelittleones.com/cdn/shop/collections/Zip_Romper_2x_f2fa177b-5259-498e-9edc-48a9d2f8cf12.png?v=1686579400&amp;width=165 165w,//bravelittleones.com/cdn/shop/collections/Zip_Romper_2x_f2fa177b-5259-498e-9edc-48a9d2f8cf12.png?v=1686579400&amp;width=330 330w,//bravelittleones.com/cdn/shop/collections/Zip_Romper_2x_f2fa177b-5259-498e-9edc-48a9d2f8cf12.png?v=1686579400&amp;width=535 535w,//bravelittleones.com/cdn/shop/collections/Zip_Romper_2x_f2fa177b-5259-498e-9edc-48a9d2f8cf12.png?v=1686579400&amp;width=750 750w,//bravelittleones.com/cdn/shop/collections/Zip_Romper_2x_f2fa177b-5259-498e-9edc-48a9d2f8cf12.png?v=1686579400 800w
          "
          src="//bravelittleones.com/cdn/shop/collections/Zip_Romper_2x_f2fa177b-5259-498e-9edc-48a9d2f8cf12.png?v=1686579400&amp;width=1500"
          sizes="
            (min-width: 1400px) 433px,
            (min-width: 750px) calc((100vw - 10rem) / 2),
            calc(100vw - 3rem)
          "
          alt=""
          height="801"
          width="800"
          loading="lazy"
          class="motion-reduce"
        >
        <h6>2 Testing</h6>
      </a>

      <a class="blo-collection-list-row-item" href="#">
        <img
          srcset="
                          //bravelittleones.com/cdn/shop/collections/Zip_Romper_2x_f2fa177b-5259-498e-9edc-48a9d2f8cf12.png?v=1686579400&amp;width=165 165w,//bravelittleones.com/cdn/shop/collections/Zip_Romper_2x_f2fa177b-5259-498e-9edc-48a9d2f8cf12.png?v=1686579400&amp;width=330 330w,//bravelittleones.com/cdn/shop/collections/Zip_Romper_2x_f2fa177b-5259-498e-9edc-48a9d2f8cf12.png?v=1686579400&amp;width=535 535w,//bravelittleones.com/cdn/shop/collections/Zip_Romper_2x_f2fa177b-5259-498e-9edc-48a9d2f8cf12.png?v=1686579400&amp;width=750 750w,//bravelittleones.com/cdn/shop/collections/Zip_Romper_2x_f2fa177b-5259-498e-9edc-48a9d2f8cf12.png?v=1686579400 800w
          "
          src="//bravelittleones.com/cdn/shop/collections/Zip_Romper_2x_f2fa177b-5259-498e-9edc-48a9d2f8cf12.png?v=1686579400&amp;width=1500"
          sizes="
            (min-width: 1400px) 433px,
            (min-width: 750px) calc((100vw - 10rem) / 2),
            calc(100vw - 3rem)
          "
          alt=""
          height="801"
          width="800"
          loading="lazy"
          class="motion-reduce"
        >
        <h6>Testing</h6>
      </a>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "BLO Collection List",
  "tag": "section",
  "class": "section blo-collection-list",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Section Title"
    }
  ],
  "presets": [
    {
      "name": "BLO Collection List"
    }
  ]
}
{% endschema %}
