/* THIS IS CUSTOM BLO CSS OVERRIDES FOR THIS THEME */


/* -------------------- CUSTOM VARIABLES -------------------- */

:root {
    --greyscale-White: #FFFFFF;
    --greyscale-UltraLight: #F5F5F5;
    --greyscale-Light: #EBEBEB;
    --greyscale-MediumLight: #D7D7D7;
    --greyscale-Medium: #BEBEBE;
    --greyscale-MediumDark: #909090;
    --greyscale-Dark: #595959;
    --greyscale-Black: #161616;

    --tan-Light: #F8F4EE;
    --tan-Medium: #EFE8DE;
    --tan-Dark: #E7DDD0;
    --tan-ExtraDark: #B8AC98;

    --tan-Camel: #A67C3E;

    --blue-Green: #B5BDB8;
    --blue-Light: #DEE3EB;
    --blue-Dark: #677992;

    --blo-corner-radius: 16px;
}





/* -------------------- CUSTOM FONT OVERRIDE -------------------- */

@font-face {
    font-family: 'GothamRounded-Book';
    src: url("https://cdn.shopify.com/s/files/1/0964/6074/files/GothamRounded-Book.woff2?v=1642977509") format("woff2"),
         url("https://cdn.shopify.com/s/files/1/0964/6074/files/GothamRounded-Book.woff?v=1642977509") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GothamRounded-Medium';
    src: url("https://cdn.shopify.com/s/files/1/0964/6074/files/GothamRounded-Medium.woff2?v=1642977509") format("woff2"),
         url("https://cdn.shopify.com/s/files/1/0964/6074/files/GothamRounded-Medium.woff?v=1642977509") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GothamRounded-Bold';
    src: url("https://cdn.shopify.com/s/files/1/0964/6074/files/GothamRounded-Bold.woff2?v=1642977509") format("woff2"),
         url("https://cdn.shopify.com/s/files/1/0964/6074/files/GothamRounded-Bold.woff?v=1642977509") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Professor';
    src: url("https://cdn.shopify.com/s/files/1/0964/6074/files/Professor.woff2?v=1642977393") format("woff2"),
         url("https://cdn.shopify.com/s/files/1/0964/6074/files/Professor.woff?v=1642977390") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Recoleta';
    src: url("https://cdn.shopify.com/s/files/1/0964/6074/files/RecoletaAlt-Medium.woff2?v=1672678792") format("woff2"),
         url("https://cdn.shopify.com/s/files/1/0964/6074/files/RecoletaAlt-Medium.woff?v=1672678792") format("woff");
    font-weight: normal;
    font-style: normal;
}



H1, .h1,  div.h1.hero__title, h1>p, H2, .h2, H2>p, H3, .h3, h3>p {

  font-family: 'Recoleta' !important;
  font-style: normal !important;
  font-weight: normal !important;
  -webkit-font-smoothing: antialiased;
}

H4, .h4, h4>p, H5, .h5, h5>p, H6, .h6, button, .button, a.button, .grid-product__title, .announcement__text, .cart__header-labels, .badge, .product-card-wrapper .card__information , footer .footer-block__heading, .toggle, .collection-list-wrapper .card__information h3, .jdgm-write-rev-link, .jdgm-paginate__load-more, .product .price__container, .product-form__input label, .facets__summary, .product-count__text.text-body, .mobile-facets__open, .mega-menu__link.mega-menu__link--level-2, .header__menu-item.list-menu__item, .menu-drawer .menu-drawer__menu-item, .mobile-facets .mobile-facets__summary, .blo-toggle-collections .card__heading, cart-drawer .totals__total, cart-drawer .totals__total-value, quick-order-list .quick-order-list-total__info h3, .facet-filters__label, .shopify-pc__banner__dialog h2, .shopify-pc__prefs__intro-main h3  {

  font-family: 'GothamRounded-Medium' !important;
  font-style: normal !important;
  font-weight: normal !important;
  -webkit-font-smoothing: antialiased;
}

body, p, form, input, textarea, select, .slide-nav__link, .slide-nav__sublist-link, .product-card-wrapper .card__information .price, footer .footer-block__details-content, .facets-vertical .facet-checkbox, .mega-menu__link, .mobile-facets .mobile-facets__label {

  font-family: 'GothamRounded-Book' !important;
  font-style: normal !important;
  font-weight: normal !important;
  -webkit-font-smoothing: antialiased;
  color: rgba(var(--color-foreground));
}




/* H1 STYLES */
H1, .h1 {
    font-size: 34px;
    line-height: 130%;
    letter-spacing: 0.68px; 
    
}
@media screen and (min-width: 750px) { 
    H1, .h1 {
        font-size: 40px;
        line-height: 130%;
        letter-spacing: 0.8px;
    }
}



/* H2 STYLES */
H2, .h2 {
    font-size: 28px;
    line-height: 130%;
    letter-spacing: 0.56px;
}
@media screen and (min-width: 750px) { 
    H2, .h2 {
        font-size: 34px;
        line-height: 130%;
        letter-spacing: 0.68px;    
    }
}



/* H3 STYLES */
H3, .h3 {
    font-size: 22px;
    line-height: 120%;
    letter-spacing: 0.44px;   
}
@media screen and (min-width: 750px) { 
    H3, .h3 {
        font-size: 28px;
        line-height: 130%;
        letter-spacing: 0.56px;
    }
}



/* H4-H6 AND BODY STYLES */
H4, .h4, H5, .h5, H6, .h6, footer .footer-block__heading, .toggle, .collection-list-wrapper .card__information h3, .product .price__container, .facets-vertical .facets__summary, .product-count__text.text-body, .facet-filters__field .facet-filters__label, .facet-filters__field .facet-filters__sort, .mobile-facets__open, .button, .button-label, .shopify-challenge__button, .customer button,
p, .p, footer .footer-block__details-content a, .facets-vertical .facet-checkbox, .facet-filters__field .facet-filters__sort, .mega-menu__link, .mega-menu__link--level-2, .mega-menu__content .mega-menu__link, .header__menu-item.list-menu__item, .menu-drawer .menu-drawer__menu-item, .mobile-facets .mobile-facets__summary, .mobile-facets .mobile-facets__label,  .blo-toggle-collections .card__heading, cart-drawer .totals__total, cart-drawer .totals__total-value  {
    font-size: 16px;
    line-height: 180%;
    letter-spacing: 0.32px;
}


/* EYEBROW STYLES */

.eyebrow, th, p.announcement-bar__message.h5, .badge, .product .form__label, cart-drawer .free_shipping_card_title_clk1hm7264194051ouy4kiwfuy5.h2{
  font-family: 'GothamRounded-Bold' !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(var(--color-foreground));
}
.card__information .card__heading.h5{
  font-size: 1.6rem;
  margin-bottom:0;
}
.card__information .card-information .price {
  font-size: 1.6rem;
  margin-bottom:0;
}
.card__content .card__information {
    padding: 1.7rem;
}










/* -------------------- CUSTOM PRODUCT CARD ADJUSTMENTS -------------------- */


.product-card-wrapper .card__information h3,
.product-card-wrapper .card__information .price-item--regular, 
.product-card-wrapper .card__information .price-item--sale{
    font-size: 14px;
}
.product-card-wrapper .card__information .price {
    margin-top: 4px;
}
.product-card-wrapper .card__information .price .price-item {
    margin-right: 4px;
}


.product-card-wrapper .card__content {
    display: flex;
    flex-direction: row;
    padding: 0;
}
.product-card-wrapper .card__content .card__information {
    width: 100%;

}
.product-card-wrapper .card__content .quick-add {
    width: 36px;
    height: 36px;
    align-self: center;
    margin: 0 20px 0 0;
}
.product-card-wrapper .card__content .quick-add .button {
    background-color: var(--greyscale-UltraLight);
    min-height: 0;
    width: 36px;
    height: 36px;
}
.product-card-wrapper .card__content .quick-add .button:after,
.product-card-wrapper .card__content .quick-add .button:before {
    border: none;
    box-shadow: none;
}
.shopify-section .collection .product-card-wrapper .quick-add__submit svg {
  margin-left:0;
}








/* -------------------- CUSTOM NAV STYLES -------------------- */
header.header.page-width {
    max-width: none;
    padding-left: 20px;
    padding-right: 20px;
}
@media screen and (min-width: 750px) { 
    header.header.page-width {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .header__search {
        margin-left: 30px;
    }
    .header__icons {
        margin-right: 30px;
    }
    header .header__inline-menu {
        width: 100%;
        text-align: center;
        border-top: 1px solid var(--tan-Medium);
        margin-top: 0 !important;
    }
    .header__menu-item {
        padding: 20px 12px;
        color: var(--greyscale-Black);
    }
    header header-drawer {
        margin-left: 10px;
    }
    header .header__menu-item .icon-caret {
        right: 1rem;
        height: 0.5rem;
    }
}
@media screen and (min-width: 750px) and (max-width: 1200px){ 
    header .list-menu__item span{
        font-size: 14px;
    }
}
.announcement-bar__message {
    padding-top: 1.15rem;
    padding-bottom: 0.85rem;
}
.header__icon--cart svg.icon {
    height: 2rem;
    width: 2rem;
}

/* BLO NAV LEFT ICON CONTAINER */
.BLO-nav-icon-wrapper-left {
    display: flex;
    flex-direction: row;
}
.BLO-nav-icon-wrapper-left .header__search {
    margin-left: 0;
    display: block !important;
}
@media screen and (min-width: 750px) {
    .BLO-nav-icon-wrapper-left {
        margin-left:18px
    }
}


/* BLO CART BUTTON */
.BLO-cart-button {
    background: var(--greyscale-Black);
    color: var(--tan-Medium);
    border-radius: 40px;
    width: auto;
    padding: 10px 16px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    height: 42px;
    transition: height 0.3s cubic-bezier(0.52, 0, 0.61, 0.99), padding 0.3s cubic-bezier(0.52, 0, 0.61, 0.99);
}
.BLO-cart-button svg.icon {
    height: 16px;
    width: 16px;
    margin-top: -2px;
}
.BLO-cart-button svg.icon path {
    stroke: var(--tan-Medium) !important;
}
.BLO-cart-button .cart-count-bubble {
    position: relative;
    background: none;
    font-size: inherit;
    left: auto;
    bottom: auto;
    width: auto;
    margin-left: 8px; 
}
.BLO-cart-button .cart-count-bubble span{
    color: var(--tan-Medium);
}
.BLO-cart-button:after {
    content:"0";
    white-space: nowrap;
    margin-left: 8px;
}
.BLO-cart-button:has(.cart-count-bubble):after {
    content:"";
    margin-left: 0;
}
@media screen and (min-width: 750px) {
    .BLO-cart-button .cart-count-bubble {
        padding-top: 2px;
    }
    .BLO-cart-button:after {
        padding-top: 2px;
    }
}
@media screen and (max-width: 749px) {
    .BLO-cart-button {
        padding: 5px 12px;
        height: 36px;
    }
    .BLO-cart-button .cart-count-bubble {
        margin-left: 8px;
    }
    .BLO-cart-button {
        font-size: 14px;
    }
}

/* CUSTOM SCROLLED STATE CODE */
@media screen and (min-width: 750px) {
    .shopify-section-header-sticky.scrolled-past-header .BLO-cart-button {
        padding: 4px 13px;
        height: 35px;
    }
    .header__menu-item { 
        transition: padding-top 0.3s cubic-bezier(0.52, 0, 0.61, 0.99), padding-bottom 0.3s cubic-bezier(0.52, 0, 0.61, 0.99);
    }
    .shopify-section-header-sticky.scrolled-past-header .header__inline-menu .header__menu-item {
        padding-top: 13px;
        padding-bottom: 13px;
    }
    .shopify-section-header-sticky.scrolled-past-header .header__heading-logo-wrapper {
        width: 82%;
    }
}
@media screen and (max-width: 749px) { 
    .shopify-section-header-sticky.scrolled-past-header .header__heading-logo-wrapper {
        width: 100%;
    }
}

/* -- Adjusted annoucement bar spacing --  */
@media screen and (max-width: 749px) { 
    .announcement-bar-section .utility-bar__grid.page-width {
      padding-left: 10px;
      padding-right: 10px;
    }
    .announcement-bar .slider-button--next {
      margin-right: -10px;
    }
    .announcement-bar .slider-button--prev {
      margin-left: -1.5rem;
    }
}



/* ---------------------------------------- CUSTOM MENU DRAWER STYLES ---------------------------------------- */
.menu-drawer {
    border-top: 1px solid var(--tan-Medium);
}
.menu-drawer .BLO-menudrawer-image {
    width: 50px;
    height: auto;
    border-radius: 8px;
    margin-right: 15px;
}
.menu-drawer .menu-drawer__menu-item {
    padding: 0.6rem 2rem;
}
.menu-drawer .menu-drawer__menu-item .icon.icon-arrow {
    display: none;
}
.menu-drawer .menu-drawer__menu-item .icon.icon-caret {
    display: block;
    transform: rotate(-90deg);
    stroke: var(--tan-ExtraDark);
}
.menu-drawer .menu-drawer__navigation {
    padding: 1rem 0;
}
.menu-drawer .menu-drawer__close-button {
    padding-bottom: 20px;
    margin-top: 10px;
    padding-left: 2rem;
    padding-right: 2rem;
}
.menu-drawer .menu-drawer__utility-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    padding: 1.5rem 3rem;
}
.menu-drawer .list-social{
    display: none;
}
.menu-drawer .menu-drawer__account,
.menu-drawer .disclosure__button {
    line-height: 150%;
}  
.menu-drawer .menu-drawer__menu-item--active, 
.menu-drawer .menu-drawer__menu-item:focus, 
.menu-drawer .menu-drawer__close-button:focus, 
.menu-drawer .menu-drawer__menu-item:hover, 
.menu-drawer .menu-drawer__close-button:hover{
    background-color: transparent;
} 
.menu-drawer .menu-drawer__menu-item:active, 
.menu-drawer .menu-drawer__close-button:active {
    transform: scale(1.04);
    background-color: transparent;
    -webkit-tap-highlight-color: transparent;
}
.menu-drawer .menu-drawer__menu-item, 
.menu-drawer .menu-drawer__close-button {
    transition: transform 200ms ease 0s
}



/* CUSTOM INPUT STYLES */


.field input.field__input,
.field .text-area,
.field textarea {
    background: rgba(0,0,0,.04);
    height: 5rem;
}
.field label.field__label {
    top: 1.3rem;
}
.field input.field__input:focus,
.field .text-area:focus,
.field textarea:focus {
    background: rgba(0,0,0,.07);
    box-shadow: none;
}
.field input.field__input:focus ~ .field__label,
.field .text-area:focus ~ .field__label,
.field textarea:focus ~ .field__label {
    font-family: 'GothamRounded-Medium' !important;
    color: var(--greyscale-Black);
}
.field .field__button {
    height: 5rem;
}
.recipient-fields__field .field textarea:not(:focus) ~ label.form__label.field__label {
    font-family: 'GothamRounded-Book' !important;
}
.recipient-fields__field label.form__label.field__label {
    text-transform: none;
}


  
quantity-input.quantity,
quantity-input.quantity.cart-quantity {
    background: var(--tan-medium, #EFE8DE);
    box-shadow: none;
    border-radius: 20px;
    height: 40px;
    min-height: 40px;
}
quantity-input.quantity button.quantity__button,
.quantity .quantity__button:not(:focus-visible):not(.focused) {
    background-color: var(--tan-medium, #EFE8DE);
    color: var(--greyscale-Black);
    margin: 4px;
    width: 32px;
    border-radius: 20px;
}



/* TOGGLES */


.toggle-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}
.toggle {
    display: flex;
    padding: 7px 17px 5px 17px;
    flex-direction: column;
    align-items: center;
    gap: 11px;
    border-radius: 50px;
    background: var(--tan-medium, #EFE8DE);
    color:  var(--greyscale-black, #161616);
    text-decoration: none;
    white-space: nowrap;
}
.toggle:hover {
    opacity: .8;
    cursor: pointer;
}
.toggle:active {
    opacity: 1;
}
.toggle.selected {
    background: var(--greyscale-black, #161616);
    color: var(--tan-light, #EFE8DE);
}



/* PAGE WIDTH ADJUSTMENT */

.page-width {
    max-width: var(--page-width);
    margin: 0 auto;
    padding: 0 3rem;
  }
@media screen and (min-width: 750px) {
    .page-width {
      padding: 0 5rem;
    }
  }
.page-width.page-width--narrow {
    max-width: 800px;
}
@media screen and (max-width: 989px) and (min-width: 750px) {
    .section-collection-list .title-wrapper--self-padded-tablet-down, 
    .section-collection-list .title-wrapper--self-padded-mobile {
        padding-left: 5rem;
        padding-right: 5rem;
    }
    .section-collection-list .grid--peek.slider .grid__item:first-of-type,
    .shopify-section .collection .grid--peek.slider .grid__item:first-of-type {
        margin-left: 5rem;
    }
    .section-collection-list .slider.slider--tablet,
    .shopify-section .collection .slider--tablet.product-grid {
        scroll-padding-left: 5rem;
    }
    .section-collection-list .slider--tablet:after, 
    .shopify-section .collection .slider--tablet:after {
        padding-left: 5rem;
    }
    .shopify-section .collection .slider--tablet.grid--peek.grid--1-col-tablet-down .grid__item, 
    .shopify-section .collection .slider--mobile.grid--peek.grid--1-col-tablet-down .grid__item {
        width: calc(100% - 30px - 5rem);
    }
    .shopify-section.section-collection-list .slider-mobile-gutter {
        margin-left: -50px;
        margin-right: -50px;
    }
}
@media screen and (max-width: 749px) {
    .section-collection-list .title-wrapper--self-padded-tablet-down, 
    .section-collection-list .title-wrapper--self-padded-mobile {
        padding-left: 3rem;
        padding-right: 3rem;
    }
    .section-collection-list .grid--peek.slider .grid__item:first-of-type,
    .shopify-section .collection .grid--peek.slider .grid__item:first-of-type {
        margin-left: 3rem;
    }
    .section-collection-list .slider.slider--tablet,
    .shopify-section .collection .slider--tablet.product-grid {
        scroll-padding-left: 3rem;
    }
    .section-collection-list .slider--tablet:after, 
    .shopify-section .collection .slider--tablet:after {
        padding-left: 3rem;
    }
    .shopify-section .collection .slider--tablet.grid--peek.grid--1-col-tablet-down .grid__item, 
    .shopify-section .collection .slider--mobile.grid--peek.grid--1-col-tablet-down .grid__item {
        width: calc(100% - 30px - 3rem);
    }
}







/* EDGE TEXTURE */
.blo-edge-texture-wrapper {
    position: relative;
}
.blo-edge-texture {
    position: absolute;
    right: 0;
    left: 0;
}
.blo-edge-texture.top {
    top:-1px;
}
.blo-edge-texture.bottom {
    bottom: -1px;
}
.blo-edge-texture.flip {
    transform: rotate(180deg);
}





/* SECTION STYLE OVERRIDES */
.shopify-section .collection .collection__title, 
.collection-list-wrapper .title-wrapper--no-top-margin {
    margin-bottom: 30px;
}
.shopify-section .collection .collection__view-all, 
.collection-list-wrapper .collection-list-view-all {
    margin-top: 30px;
}
.shopify-section .collection .collection__view-all .button, 
.shopify-section .collection-list-wrapper .collection-list-view-all .button {
    min-width: 220px;
}
@media screen and (min-width: 750px) {
    .shopify-section .collection .collection__title, 
    .collection-list-wrapper .title-wrapper--no-top-margin {
      text-align: center;
      margin-bottom: 50px;
    }
    .collection-list-wrapper .title-wrapper--no-top-margin h2 {
      text-align: center;
      width: 100%;
    }
    .shopify-section .collection .collection__view-all, 
    .collection-list-wrapper .collection-list-view-all {
        margin-top: 50px;
    }
  }



  /* JUDGEME ADJUSTMENTS */

.jdgm-widget.jdgm-review-widget {
    background: var(--blue-Green);

  }
  .jdgm-widget.jdgm-review-widget .jdgm-rev-widg {
    max-width: var(--page-width);
    margin: 0 auto;
    padding: 80px 3rem;
  }
  .jdgm-widget.jdgm-review-widget .jdgm-rev-widg__header {
    margin-bottom: 80px;
  }
  .jdgm-widget.jdgm-review-widget .jdgm-write-rev-link, 
  .jdgm-widget.jdgm-review-widget .jdgm-paginate__load-more {
    border-radius: 30px;
    border: 2px solid #31424B;
    color: #31424B;
    text-decoration: none;
    padding: 12px 20px;
    background: transparent;
  }
  
  .jdgm-widget.jdgm-review-widget .jdgm-rev-widg__title,
  .jdgm-widget.jdgm-review-widget .jdgm-rev-widg__summary-text,
  .jdgm-widget.jdgm-review-widget .jdgm-star, 
  .jdgm-widget.jdgm-review-widget .jdgm-rev__header, 
  .jdgm-widget.jdgm-review-widget .jdgm-rev__title, 
  .jdgm-widget.jdgm-review-widget .jdgm-rev__body *  {
    color: #31424B;
  }
  .jdgm-widget.jdgm-review-widget .jdgm-rev-widg__summary-inner  {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
  }
  .jdgm-widget.jdgm-review-widget .jdgm-rev-widg__summary-text  {
    font-style: italic;
  }
  .jdgm-rev-widg__sort-wrapper {
    display: none;
  }
 .jdgm-widget.jdgm-review-widget .jdgm-rev-widg__reviews {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
 }
 .jdgm-widget.jdgm-review-widget .jdgm-rev {
    border-top: 2px solid #31424B;
    margin-top: 0;
    padding-top: 30px;
 }
 .jdgm-widget.jdgm-review-widget .jdgm-widget-actions-wrapper {
    margin-top: 30px;
  }
 .jdgm-widget.jdgm-review-widget .jdgm-rev__icon {
    display: none;
 }
 .jdgm-widget.jdgm-review-widget .jdgm-rev__header {
    margin-bottom: 20px;
}
.jdgm-widget.jdgm-review-widget .jdgm-rev__title {
    margin-bottom: 5px;
}
.jdgm-widget.jdgm-review-widget .jdgm-rev__body {

}
.jdgm-widget.jdgm-review-widget .jdgm-paginate__load-more {
    margin-top: 60px;
}
.jdgm-widget.jdgm-review-widget .jdgm-form-wrapper {
    border-top: 2px solid #31424B;
    padding: 60px 0;
    margin-top: 60px;
}
.jdgm-widget.jdgm-review-widget .jdgm-form input[type="text"],
.jdgm-widget.jdgm-review-widget .jdgm-form textarea, 
.jdgm-widget.jdgm-review-widget .jdgm-form input[type="email"] {
    background: transparent;
    border: 1px solid #31424B;
    border-radius: 8px;
    padding: 10px;
    color: #31424B;
    font-size: 16px;
}
.jdgm-widget.jdgm-review-widget .jdgm-picture-fieldset__input {
    border: 1px dashed #31424B;
}
.jdgm-widget.jdgm-review-widget .jdgm-picture-fieldset__box-wrapper {
    border: 1px dashed #31424B;
    border-radius: 8px;
    
}
.jdgm-picture-fieldset__icon.jdgm-photocamera-icon{
    color: #31424B;
}
.jdgm-widget.jdgm-review-widget label {
    margin-bottom: 10px;
}
.jdgm-widget.jdgm-review-widget .jdgm-rev__verification-badge-img {
    transform: translateY(4px); 
}
.jdgm-widget.jdgm-review-widget .jdgm-rev__pics {
  white-space: pre-wrap;
}
@media screen and (min-width: 750px) {
    .jdgm-widget.jdgm-review-widget .jdgm-rev-widg {
        padding: 160px 5rem;
    }
    .jdgm-widget.jdgm-review-widget .jdgm-rev {
        width: calc(33.3% - 40px);
        padding-top: 51px;
     }
     .jdgm-widget.jdgm-review-widget .jdgm-rev-widg__reviews {
        flex-direction: row;
        gap: 60px;
     }
     .jdgm-widget.jdgm-review-widget .jdgm-widget-actions-wrapper {
        margin-top: -40px;
      }
}






/* ------------------------ CUSTOM PRODUCT PAGE ADJUSTMENTS ------------------------ */

.product .product-form__input input[type='radio'] + label {
    font-size: 16px;
    line-height: 180%;
    padding: 7px 17px 5px 17px;
    border-radius: 50px;
    background: var(--tan-medium, #EFE8DE);
    color:  var(--greyscale-black, #161616);
    border: none;
}
.product .product-form__input input[type='radio'] + label:hover {
    opacity: .8;
    cursor: pointer;
}
.product .product-form__input input[type='radio']:checked + label {
    opacity: 1;
    background: var(--greyscale-black, #161616);
    color: var(--tan-light, #EFE8DE);
}
.product .card--horizontal__quick-add .icon-wrap{
    display: none;
}
.product .complementary-slider .card--horizontal {
    align-items: center;
    padding-right: 20px;
}
.product .complementary-slide--card .price__container{
    margin-bottom: 0;
}
.product .complementary-slide--card .price__container{
    margin-bottom: 0;
}
.product .complementary-slide ul{
    gap: 15px;
}
.product .complementary-slide h3{
    line-height: 140%;
}
.product .complementary-slide .product-card-wrapper .card__media img {
    border-radius: 8px;
}
.product .complementary-slide .product-card-wrapper .card{
    background-color: var(--tan-Medium);
}
.product .complementary-slide .product-card-wrapper .card__content .quick-add .button {
    background-color: var(--tan-Dark);
}
.product__accordion .accordion__content table{
    margin-top: 2px;
    margin-bottom: 2px;
}
.product__accordion .h6{
    color: var(--greyscale-Black);
}
.product__accordion .accordion__title {
    text-align: left;
}
.product .product__media-wrapper .thumbnail[aria-current] {
    box-shadow: 0 0 0rem 2px rgb(var(--color-foreground));
}
@media screen and (max-width: 749px) {
    .product .product__media-wrapper slider-component:not(.thumbnail-slider--no-slide) {
        margin-left: -3rem;
        margin-right: -3rem;
    }
    .product .thumbnail-list__item.slider__slide {
        width: calc(20% - 0.8rem);
    }
    .product .slider.slider--mobile {
        margin-bottom: 0;
    }
    .product .product__info-wrapper {
        margin-top: 10px;
    }
}
.product-media-modal__dialog .product-media-modal__toggle {
    height: 40px;
    width: 40px;
    background-color: rgba(0,0,0,.05);
    border: none;
    backdrop-filter: blur(2px);
}
.product__modal-opener .product__media-icon--lightbox {
    background-color: rgba(0,0,0,.05);
    border: none;
}
.quick-add-modal .quick-add-modal__toggle {
    background-color: var(--tan-Medium);
    border: none;
    height: 40px;
    width: 40px;
}
.price__badge-sold-out {
    background: var(--greyscale-Black);
    color: var(--tan-Light);
}
@media screen and (max-width: 749px) {
    .quick-add-modal .product__media-wrapper slider-component:not(.thumbnail-slider--no-slide) {
        margin-right: -1.5rem;
        margin-left: -1.5rem;
    }
    .quick-add-modal .product__column-sticky .product__media-list {
        gap: 0;
    }
    /* making product zoom not zoom in as far */
    .product-media-modal img.global-media-settings{
        max-width: 700px;
    }
    .product .price--on-sale .price-item--regular {
        font-size: 16px;
    }
}
.multicolumn-card .multicolumn-card__image-wrapper {
    max-width: 220px;
    margin-left: auto !important;
    margin-right: auto !important;
}
.product .product-form__buttons {
    max-width: none;
}
.product__accordion .accordion__content table {
    margin-top: 30px;
    margin-bottom: 30px;
}
/* fixing PAV tooltip showing under the image */
@media screen and (min-width: 750px) {
    .product__info-wrapper.grid__item {
        z-index: 2;
    }
}
/* FIX DISCRIPTON LIST TO BE SAME COLOR AS PARAGRAPH */
.product .product__description ul {
  color: rgba(var(--color-foreground));
}






/* ------------------------ CUSTOM COLLECTION PAGE ADJUSTMENTS ------------------------ */

.facets-vertical .facets__summary {
    color: var(--greyscale-Black, #161616);
}
.facets-vertical .facet-checkbox .icon-checkmark {
    top: 9px;
    z-index: 2;
}
.facets-vertical .facet-checkbox > svg, 
.mobile-facets__label > svg {
    margin-top: 5px;;
}
facet-remove .active-facets__button--light .active-facets__button-inner {
    padding: 6px 17px;
    border-radius: 50px;
    background: var(--tan-medium, #EFE8DE);
    color:  var(--greyscale-black, #161616);
    border: none;
    box-shadow: none;
    font-size: 16px;
    line-height: 180%;
}
facet-remove .active-facets__button--light .active-facets__button-inner:hover {
    opacity: .8;
    cursor: pointer;
}
facet-remove .active-facets__button--light .active-facets__button-inner:active {
    opacity: 1;
}
.facets__form-vertical .facets__disclosure-vertical{
    border-top: 2px solid var(--tan-Dark);
}
.active-facets-vertical-filter h2 {
    font-size: 22px;
}
.collection-hero__title.h2 {
    text-align: center;
    margin-top: 30px;
}
@media screen and (min-width: 750px) {
    .collection-hero__title.h2 {
        text-align: center;
        margin-top: 50px;
    }
}
.facets-vertical-sort.page-width .facets-vertical-form {
    justify-content: space-between;
    border-top: 2px solid var(--greyscale-Black);
    border-bottom: 2px solid var(--greyscale-Black);
    padding: 20px 0;
    margin-bottom: 50px;
}
.facets-vertical-sort.page-width .facet-filters.sorting.caption {
    padding-left: 0;
}
.facets-vertical-sort.page-width .product-count__text.text-body, 
.mobile-facets__open {
    color: var(--greyscale-Black);
}
.product-count-vertical.light {
    opacity: 1;
}
.section.blo-collection {
    margin-top: 0px;
}
.collection-hero__title.h2 {
    margin-bottom: 5px;
}
.collection-hero__description {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (max-width: 749px) {
    .facets-wrapper {
        border-top: 2px solid var(--tan-Dark);
        border-bottom: 2px solid var(--tan-Dark);
        padding: 15px 0;
        margin-bottom: 10px;
    }
    .facets-wrapper .facets-container {
        padding-top: 0;
    }
    .section.blo-collection {
        margin-top: 0px;
    }
    .mobile-facets__main .mobile-facets__label .icon-checkmark {
        top: 1.2rem;
    }
    .mobile-facets__wrapper div.mobile-facets__details:first-of-type .mobile-facets__summary {
        padding-top: 4px;
        padding-bottom: 4px;
    }
    
}
.mobile-facets__sort .select__select {
    font-size: 16px;
    text-align: right;
}

.blo-custom-sort {
    border-top: 2px solid var(--tan-Dark);
    border-bottom: 2px solid var(--tan-Dark);
    padding-top: 14px;
    padding-bottom: 14px;
    width: 26rem;
}
.blo-custom-sort .facets__form {
    gap: 0;
    margin-bottom: 0;
}
.blo-custom-sort .facets__form select {
    text-align: right;
    color: var(--greyscale-Black);
}
.blo-custom-sort .facet-filters.sorting {
    padding-left: 0;
}
.template-search .blo-custom-sort .facet-filters__label {
    margin-right: 34px;
}
.mobile-facets__heading, 
.mobile-facets__count {
    text-align: left;
}
.facets .facet-checkbox {
    padding-top: 5px;
    padding-bottom: 5px;
}
.mobile-facets .mobile-facets__label {
    padding-top: 7px;
    padding-bottom: 7px;
}
.active-facets__button-remove.underlined-link {
    display: none;
}
/* CODE TO HIDE OUT OF STOCK FITER */
.facets label[for="Filter-filter.v.availability-2"],
.mobile-facets label[for="Filter-filter.v.availability-mobile-2"] {
    display: none;
}
.rte a.button {
    color: var(--greyscale-White);
}


nav.pagination .pagination__item-arrow {
    background-color: var(--tan-Medium);
    border-radius: 30px;
}
nav.pagination .pagination__list li {
    margin-right: 0;
}
.facet-filters__label label{
    color: var(--greyscale-Black);
} 



/* ---------- CUSTOM - ICON ADJUSTMENTS ---------- */

svg.icon-accordion,
svg.icon-account,
svg.icon-arrow,
svg.icon-caret,
svg.icon-cart-empty,
svg.icon-cart,
svg.icon-checkmark,
svg.icon-clipboard,
svg.icon-close-small,
svg.icon-close,
svg.icon-discount,
svg.icon-error,
svg.icon-filter,
svg.icon-hamburger,
svg.icon-minus,
svg.icon-padlock,
svg.icon-pause,
svg.icon-play,
svg.icon-plus,
svg.icon-remove,
svg.icon-search,
svg.icon-share,
svg.icon-success,
svg.icon-tick,
svg.icon-unavailable,
svg.icon-zoom {
  stroke-width: 1;
  stroke: currentColor;
  stroke-linecap: round;
}
svg.icon {
  overflow: visible;
}



/* CUSTOM PRODUCT CARD BADGE */
.product-card-wrapper .card__badge {
    display: flex;
    gap: 5px;
}
.product-card-wrapper .card__badge .badge {
    border: none;
}
body .badge {
    padding: 0.6rem 1.3rem 0.5rem 1.3rem;
}

/* CUSTOM PRODUCT PAGE BADGE */

.blo-product-badge-container {
    display: flex;
    gap: 8px;
}
.blo-product-badge {
   background: var(--tan-Dark);
   color: var(--greyscale-Black); 
   display: inline-block; 
   border-radius: 20px;
   border: none;
}





/* BLO COLLECTION - FIND YOUR FAVORITE PAGE */

.blo-collection-list {
    margin-top: -30px;
}
@media screen and (min-width: 750px) {
    .blo-collection-list {
        margin-top: -40px;
    }
}
.blo-collection-list .collection-list__item {
    background: #fff;
    border-radius: var(--blo-corner-radius);
    overflow: hidden;
}
.blo-style-collection-tile {
    width: 100%;
    text-decoration: none;
}
.blo-style-collection-tile h6 {
    padding: 15px 20px;
    text-decoration: none;
    margin: 0;
}
.blo-style-collection-image {
    width: 100%;
    height: auto;
    display: block;
}


/* MAIN PAGE TEMPLATE ADJUSTMENTS */
.main-page-title.page-title.h2 {
    text-align: center;
}





/* CUSTOM CART DRAWER STYLING */
cart-drawer.drawer {
    background: rgba(0,0,0,.2);
}
cart-drawer .drawer__inner {
    padding: 0;
}
@media screen and (min-width: 750px) {
    cart-drawer .drawer__inner {
        width: 50rem;
    }
}
cart-drawer .drawer__header, 
cart-drawer .drawer__contents, 
cart-drawer .drawer__footer {
    padding-left: 20px;
    padding-right: 20px;
}
cart-drawer .drawer__close {
    right: 10px;
}
cart-drawer .drawer__close svg {
    height: 1.6rem;
    width: 1.6rem
}
cart-drawer .totals__subtotal-value {
    font-size: 16px;
}
cart-drawer.drawer .tax-note {
    text-align: center;
}
.cart-item__price-wrapper {
    white-space: nowrap;
}
cart-drawer .cart-item__name.h4 {
    line-height: 140%;
}
cart-drawer .cart-drawer__footer .totals {
    margin-top: 0;
    margin-bottom: 10px;
}
cart-drawer .cart-drawer__footer .totals h2 {
    margin-top: 0;
}
cart-drawer .cart-drawer__footer small.tax-note {
    display: none;
}
cart-drawer .drawer__footer {
    border-top: 1px solid var(--tan-Medium);
}
cart-drawer .drawer__contents {
    margin-top: 10px;
}
cart-drawer thead .caption-with-letter-spacing {
    padding-bottom: 10px;
}
cart-drawer .cart-item__image {
    border-radius: 8px;
}


/* FOOTER ADJUSTMENTS */
footer shop-login-button {
    opacity: 0.5;
    filter: grayscale(1);
  }
footer .footer__content-bottom {
    padding-top: 10px;
  }






/* CUSTOM TABLE STYLING */

table tr p{
    margin: 0;
}
table tr strong{
    font-family: 'GothamRounded-Medium' !important;
    font-style: normal !important;
    font-weight: normal !important;
    -webkit-font-smoothing: antialiased;
}
table:not([class]) tr td, 
table:not([class]) tr th {
    border: 2px solid var(--tan-Medium);
    border-left: none;
    border-right: none;
    padding: 15px;
}
table:not([class]) tr td:first-child, 
table:not([class]) tr th:first-child {
    padding-left: 0;
}
table:not([class]) {
    box-shadow: none;
    font-size: 16px;
    line-height: 180%;
    letter-spacing: 0.32px;
    color: var(--greyscale-Black);
}







/* ---------- WHOLESALE B2B - QUICK ORDER LIST ---------- */

quick-order-list .quick-order-list-total__info h3 {
    font-size: 16px;
}
quick-order-list .quick-order-list__total {
    border-top: 2px solid var(--tan-Dark);
}
quick-order-list .quick-order-list__table th {
    border-bottom: 2px solid var(--tan-Dark);
}
@media screen and (max-width: 989px) {
    quick-order-list .quick-order-list__table thead tr {
        border-bottom: 2px solid var(--tan-Dark);
    }
    quick-order-list .quick-order-list__table th {
        border-bottom: none;
    }
}





/* ----- WHOLESALE MAP ------ */
.map-new-theme.cs_map_container {
  margin: auto;
  max-width: 1500px;
}
.map-new-theme.cs_map_container #map {
  border-radius: 16px;
}
.map-new-theme.cs_map_container .mnt-location-list {
  border: none;
}
.map-new-theme.cs_map_container .newsearch-input {
  height: 48px;
  max-height: 48px;
  padding: 10px 21px;
  border-radius: 16px;
  border: none;
} 
/* */
.map-new-theme.cs_map_container .map-new-theme-row {
  border-radius: 16px;
}
.map-new-theme.cs_map_container .mnt-col-left {
  padding: 0;
  background: #fff;
  border-radius: 16px;
}
.map-new-theme.cs_map_container .search-form-new {
  padding: 30px 30px 0 30px;
}
.map-new-theme.cs_map_container .newsearch-input {
  background-color: #f5f5f5 !important;
  margin-bottom: 0;
}
.map-new-theme.cs_map_container .append.map-new-theme-locations {
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  max-height: 620px;
}
.map-new-theme.cs_map_container .mnt-locations {
  padding: 0;
  padding-top: 30px;
}
.map-new-theme.cs_map_container .mnt-col-left .mnt-location-list {
  padding: 0 30px;
  margin-bottom: 30px;
}
.map-new-theme.cs_map_container .mnt-col-right {
  padding-left: 20px;
  padding-right: 0;
}
.map-new-theme.cs_map_container .mnt-location-list h4 {
  margin-bottom: 10px;
}
.map-new-theme.cs_map_container .mnt-location-list .polaris-detail {
  margin-bottom: 0px;
}
.map-new-theme.cs_map_container .mnt-locations li.mnt-location-list {
  border-right: 2px solid #fff;
  border-radius: 0;
}
.map-new-theme.cs_map_container .mnt-locations li.mnt-location-list.active {
  border-right: 2px solid #191919;
  border-left: none;
}
@media screen and (max-width: 767px) {
  .map-new-theme.cs_map_container .map-col {
      padding-left: 0;
      margin-bottom: 20px;
  }
  .map-new-theme.cs_map_container .map-new-theme-row {
    margin-left:0;
    margin-right:0;
  }
}



/* ------- GORGIAS CHAT BUTTON ZINDEX FIX -------- */

iframe#chat-button {
  z-index: 1 !important;
}


/* ------- CUSTOM STYLES FOR COOKIES POPUP -------- */
.shopify-pc__banner__dialog {
  padding: 30px;
}
.shopify-pc__banner__dialog .shopify-pc__banner__body h2 {
  font-size: 16px;
  margin-bottom: 5px;
}
.shopify-pc__banner__dialog p {
  font-size: 14px;
}
.shopify-pc__banner__dialog .shopify-pc__banner__btn-accept, 
.shopify-pc__banner__dialog .shopify-pc__banner__btn-decline,
.shopify-pc__banner__dialog .shopify-pc__banner__btn-manage-prefs {
  border-radius: 30px;
  padding: 8px 10px;
}
.shopify-pc__banner__dialog .shopify-pc__banner__btn-accept {
  margin-right: 20px;
  flex-basis: 25%;
}
.shopify-pc__banner__dialog .shopify-pc__banner__btn-decline {
  margin-right: 0;
  flex-basis: 25%;
}
.shopify-pc__banner__dialog .shopify-pc__banner__btn-manage-prefs {
  padding: 6px 0px;
  flex-basis: 50%;
  text-align: left;
  color: #555 !important;
}
.shopify-pc__prefs .shopify-pc__prefs__dialog {
  border-radius: 14px;
}
.shopify-pc__prefs .shopify-pc__prefs__header-actions button {
  border-radius: 30px;
  padding: 10px 20px;
}
.shopify-pc__prefs .shopify-pc__prefs__intro-main h3 {
  font-size: 16px;
  margin-bottom: 5px;
}
.shopify-pc__prefs .shopify-pc__prefs__intro-main p {
  font-size: 14px;
}
.shopify-pc__prefs .shopify-pc__prefs__option label {
  font-size: 14px;
  margin-bottom: 0;
}
.shopify-pc__prefs .shopify-pc__prefs__option p {
  font-size: 14px;
  margin-bottom: 0;
}
.shopify-pc__prefs .shopify-pc__prefs__intro-main {
  padding: 30px 32px 0 32px;
}

