.blo-oh-so-soft {
    background: var(--tan-Medium);
    display: flex;
    position: relative;
    overflow: hidden;
}
.blo-oh-so-soft .page-width {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding-top: 160px;
    padding-bottom: 160px;
    width: 100%;
}
.blo-soft-image-wrapper {
    margin-left: -70px;
    position: relative;
}
.blo-soft-image-wrapper img {
    position: absolute;
    width: 630px;
    height: 630px;
    transform: rotate(20.037deg);
    left: 120px;
    top: -74px;
    filter: drop-shadow(0px 20px 24px rgba(0, 0, 0, 0.16));
}
.blo-soft-image-wrapper svg {   
    margin-bottom: -80px;
 }
.blo-soft-image-wrapper svg path {   
    animation-name: svg-blinking;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    fill: none;
    stroke: var(--tan-Dark);
    stroke-width: 2px;
}
.blo-soft-image-wrapper svg path:nth-of-type(2) {   
    animation-delay: 1s;
}
.blo-soft-image-wrapper svg path:nth-of-type(3) {   
    animation-delay: 2s;
}
@keyframes svg-blinking {
    0%   {
        fill: var(--tan-Dark);
    }

    100%  {
        fill: none;
    }
 }





.blo-soft-text-wrapper {
    min-height: 400px;
    max-width: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.blo-soft-title {
    margin-bottom: 10px;
    margin-top: 0;
}
.blo-soft-text {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}
.blo-soft-text svg {
    width: 19px;
    height: 19px;
    margin-top: 4px;
}
.blo-soft-text p {
    margin-top: 0;
}
.blo-soft-buttons {
    margin-top: 10px;
}

.blo-soft-text-wrapper .badge {
    display: inline-flex;
    padding: 5px 12px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 20px;
    background: var(--greyscale-black, #161616);
    color: #fff;
}


@media screen and (max-width: 989px) { 
    .blo-oh-so-soft .page-width {
        flex-direction: column;
        display: flex;
        width: 100%;
        gap: 50px;
    }
}
@media screen and (min-width: 990px) { 
    .blo-soft-image-wrapper {
        padding-right: 180px;
    }
}
